body{
    margin: 0;
    padding: 0;
}
#map{
    height: 100vh;
    width: 100%;
}
#side{
    background-color: white;
    border: black 1px solid;
    height: 100vh;
    width: 400px;
    position: absolute;
    float: right;
    bottom:0;
    z-index: 1000;
}

nav {
    overflow:hidden;
    overflow-y:scroll;
}
ul{
    list-style: none;
}

.row_dep{
    border: 1px black solid;
}